# yaml-language-server: $schema=../../../vendor/symfony/dependency-injection/Loader/schema/services.schema.json
services:
  _defaults:
    autoconfigure: true
    autowire: true

  PhpAnonymizer\Anonymizer\AnonymizerInterface: '@PhpAnonymizer\Anonymizer\Anonymizer'

  PhpAnonymizer\Anonymizer\Anonymizer:
    factory: [ '@PhpAnonymizer\Anonymizer\AnonymizerFactory', 'create' ]

  PhpAnonymizer\Anonymizer\AnonymizerFactory:
    arguments:
      $dataOptions: '%anonymizer.data_options%'
      $parserOptions: '%anonymizer.parser_options%'
      $rules: '%anonymizer.rules%'
      $serializer: '@?anonymizer.serializer'

  PhpAnonymizer\Anonymizer\Serializer\SerializerFactory:
    arguments:
      $serializerOptions: '%anonymizer.serializer_options%'
