services:
  _defaults:
    autoconfigure: true
    autowire: true

  PhpAnonymizer\Anonymizer\AnonymizerInterface: '@PhpAnonymizer\Anonymizer\Anonymizer'

  PhpAnonymizer\Anonymizer\Anonymizer:
    factory: [ '@PhpAnonymizer\Anonymizer\AnonymizerFactory', 'create' ]

  PhpAnonymizer\Anonymizer\AnonymizerFactory:
    arguments:
      $dataOptions: '%anonymizer.data_options%'
      $parserOptions: '%anonymizer.parser_options%'
      $rules: '%anonymizer.rules%'
      $serializerOptions: '%anonymizer.serializer_options%'
