name: Dependabot Merge

on:
  pull_request:
    types:
      - labeled
      - opened
      - synchronize
    branches:
      - dependabot/**

jobs:
  checks:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Build
        uses: ./.github/actions/php-build
        with:
          php_version: 8.2
          php_extensions: yaml
      - name: Check
        uses: ./.github/actions/php-check

  automerge:
    runs-on: ubuntu-latest
    needs: checks
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
      - name: Merge
        run: |
          gh pr merge ${{ github.event.pull_request.number }} --auto --merge
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
